.menu-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  margin: 5px 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);

  span {
    font-size: 6px;
  }

  .header {
    grid-column: auto / span 2;
    font-size: 36px;
    background-color: blue;
    color: $crumbly-burger-red;
    text-align: center;
  }

  .sub-header {
    font-size: 24px;
    color: $crumbly-burger-red;
    text-align: center;
  }

  .left {
    padding: 5px;
    font-size: 10px;
    color: $crumbly-burger-red;
    background-color: blue;

    .menu-item p {
      display: inline-block;
      padding-top: 10px;
    }

    .food-item {
      text-align: left;
      width: 55%;
    }

    .price-solo {
      text-align: right;
      width: 20%;
    }
    
    .price-meal {
      text-align: right;
      width: 20%;
    }
  }

  .right {
    padding: 5px;
    font-size: 10px;
    color: $crumbly-burger-red;
    background-color: blue;

    .menu-item p {
      display: inline-block;
      padding-top: 10px;
    }

    .food-item {
      text-align: left;
      width: 45%;
    }

    .small {
      text-align: right;
      width: 15%;
    }
    
    .medium {
      text-align: right;
      width: 15%;
    }
    
    .large {
      text-align: right;
      width: 15%;
    }
  }

  @include mq(768px) {
    .left {
      height: 85vh;
    }

    .right {
      height: 85vh;
    }
  }

  @include mq(1024px) {
    span {
      font-size: 12px;
    }

    .left {
      height: 85vh;
      font-size: 20px;
    }

    .right {
      height: 85vh;
      font-size: 20px;
    }
  }
}
